:root {
  --b: #fff;
  --f: #0f172a;
  --p: #3b82f6;
  --s: #f1f5f9;
  --e: #ef4444
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--f)
}

#map {
  inset: 0;
  position: absolute;
  opacity: .6
}

main {
  position: absolute;
  inset: 0;
  pointer-events: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto
}

header {
  background: #ffffffcc;
  padding: 1.5rem 3rem;
  border-radius: 50px;
  backdrop-filter: blur(8px);
  pointer-events: auto;
  margin: 20px 0;
  text-align: center;
  box-shadow: 0 10px 15px #0000001a
}

.card,
.box {
  background: var(--b);
  border: 1px solid #e2e8f0;
  border-radius: .5rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 450px;
  pointer-events: auto;
  box-shadow: 0 4px 6px #0000001a;
  margin-bottom: 1.5rem
}

.media {
  background: #36393f;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center
}

img {
  max-width: 100%
}

.caption {
  text-align: center;
  font-style: italic;
  color: #64748b;
  margin: 1rem
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-top: 1px solid var(--s);
  padding-top: 1rem
}

.stats b {
  background: var(--s);
  padding: .25rem .5rem;
  border-radius: 4px
}

button {
  width: 100%;
  height: 2.5rem;
  border-radius: .5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: .5rem
}

#don {
  background: var(--p);
  color: var(--b)
}

#run {
  border: 1px solid var(--e);
  color: var(--e);
  background: none
}

#run:hover {
  background: var(--e);
  color: var(--b)
}

#modal {
  position: fixed;
  inset: 0;
  background: #00000080;
  backdrop-filter: blur(4px);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center
}

.hidden {
  display: none
}

.list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1.5rem
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--s);
  padding: .75rem;
  border-radius: .5rem
}

.item img {
  width: 32px
}

.tooltip {
  background: #0f172a;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  text-align: center
}

.arrow {
  border: 8px solid transparent;
  border-top-color: #0f172a;
  margin: auto;
  width: 0
}